@page
@model port_website.Views.aboutModel

<div class="Container-fluid about-cont">
    <h1>About me</h1>
    <p class="font300">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quia totam odio a reiciendis et
        recusandae soluta! Dolor, cum maiores officia commodi reiciendis laborum minus recusandae ut, quae,
        quasi illo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quia totam odio a reiciendis et
        recusandae soluta! Dolor, cum maiores officia commodi reiciendis laborum minus recusandae ut, quae,
        quasi illo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quia totam odio a reiciendis et
        recusandae soluta! Dolor, cum maiores officia commodi reiciendis laborum minus recusandae ut, quae,
        quasi illo!
    </p>
</div>
